.logo{
    text-align: center;
}

.nav{
    width: 100%;
}

.menu{
    text-align: right;
}

.error{
    margin: 0;
    padding: 0;
    color: red;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:none;
    color:white;
    text-shadow:  2px 2px 2px black;
}
.collapse,.collapsing,.show{
    position:absolute;
    width:25% !important;
}

.dropdwn{
    text-align:left;
    background-color:rgba(33,37,41,0.7) !important;
    
}
/*VERIFICAR LA PROPIEDAD HEIGHT DE CONTENIDO CUANDO LO TENGAMOS*/
.contenido{
    height: 500px;
}

.registro{
    display: flex;
}

footer{
    background-color: rgb(33,37,41);
}

.col-footer{
    border-left:1px solid rgb(33,37,41);
    color:white;
}

.col-footer p{
    margin:0;
    padding:0;
    text-align: center;
}