body{
    font-family: 'Exo', sans-serif;
}

.logo{
    text-align: center;
}

.nav{
    width: 100%;
}

.menu{
    text-align: right;
}

.error{
    margin: 0;
    padding: 0;
    color: red;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:none;
    color:white;
    text-shadow:  2px 2px 2px black;
}
.collapse,.collapsing,.show{
    position:absolute;
    width:25% !important;
}

.dropdwn{
    text-align:left;
    background-color:rgba(33,37,41,0.7) !important;
    
}

.contenido{
    text-align: center;
}


.content{
    /*VERIFICAR LA PROPIEDAD HEIGHT DE CONTENIDO CUANDO TENGAMOS TODAS LAS PAGINAS*/
    height: 600px;
}
.div-form{
    width: 70%;
}
.login-form{
    width: 50%;
    text-align: center;
    margin:auto;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cont-login{
    display: flex;
    text-align: center;
}

footer{
    background-color: rgb(33,37,41);
}

.col-footer{
    border-left:1px solid rgb(33,37,41);
    color:white;
}

.col-footer p{
    margin:0;
    padding:0;
    text-align: center;
}

input{
    border:none;
    border-bottom: 2px solid #68B57D;

}



.btn-registro{
    background-color: #68B57D;
    border:2px solid white;
    padding:0.5rem;
    margin-top:2rem;
    
}

.btn-registro:hover,.btn-registro:visited,.btn-registro:active{
    background-color: white;
    border:2px solid #68B57D;
    color: #68B57D;
    padding:0.5rem;
    margin-top:2rem;
}


.log-registro{
    color:#68B57D;
}
.log-registro:hover{
    color:#68B57D;
    text-shadow: none;
    font-weight: bold;
}
.buscador{
    margin: 12px;
    padding: 12px;
}

.recovery, .recovery:hover{
    color:black;

}