@font-face {
    font-family: 'Aero';
    src: url('http://localhost/public/Aero.ttf') format('truetype');
    font-style: normal;
    
  }

body{
    font-family: 'Exo', sans-serif;
    background-image: url(http://localhost/public/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:white;
    font-weight: bolder;
    width: 100%;
    letter-spacing: 0.2rem;

}

.logo{
    text-align: center;
}

.nav{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.0) !important;
}

.menu{
    text-align: right;
}

.menuNav{
    border-color: #68B57D !important;
    color: #68B57D !important;
}

.error{
    margin: 0;
    padding: 0;
    color: red;
}
a{
    text-decoration:none;
    color:white;
}

.dropdwn a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
    
}

a:hover{
    text-decoration:none;
    color:white;
    text-shadow:  2px 2px 2px #0d1044;
}
.collapse,.collapsing,.show{
    position:absolute;
    width:25% !important;
}

.dropdwn{
    text-align:left;
    background-color:rgba(0, 0, 0, 0.7) !important;
    
}

.contenido{
    text-align: center;
}


.content{
    /*VERIFICAR LA PROPIEDAD HEIGHT DE CONTENIDO CUANDO TENGAMOS TODAS LAS PAGINAS*/
    height: 100%;
}
.div-form{
    width: 70%;
}
.login-form{
    width: 50%;
    text-align: center;
    margin:auto;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cont-login{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.container form{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0));
    padding: 0;
}
.titulo,.cont-recovery,.cont-login,.turno{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0));
    color:black;
    font-family: 'Aero' ;
    text-align: center;
}

.titulo{
    text-align: center;
}

.login-form{
    margin-top: 100px;
    margin-bottom: 100px;
}

footer{
    background-color:rgba(0, 0, 0, 0.8) !important;
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;

}

footer a{
    text-align: center;
}





input{
    border:none;
    border-bottom: 2px solid black;

}

.info-footer{
    display: flex;
    justify-self: space-between;
}

.registro{
    color:black;
    font-family: 'Aero' ;
}



.btn-registro{
    background-color: #0d1044;
    border:2px solid white;
    padding:0.5rem;
    margin-top:2rem;
    
}

.btn-registro:hover,.btn-registro:visited,.btn-registro:active,.btn-registro:focus{
    background-color: white;
    border:2px solid #0d1044;
    color: #0d1044;
    padding:0.5rem;
    margin-top:2rem;
}


.log-registro{
    color:#0d1044;
}
.log-registro:hover{
    color:#0d1044;
    text-shadow: none;
    font-weight: bold;
}


.recovery, .recovery:hover{
    color:black;

}

 footer img{
    width: 40%;
 }


 .buscador{
     width: 55%;
     background-color:rgba(255, 255, 255, 0.7) !important;
     margin: 1rem;
     box-shadow: 2px 2px 6px black;
     color: black;
     display: flex;

     align-items: center;
     text-align: left;
     font-size:small;
     
 }

 .form-search{
     padding: 1rem;
 }

 .buscador div{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
 }
 .fechas div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

 }

 .buscador div input::placeholder{
    color: black;
    font-weight: bolder;
}

 
.buscador div input[type=text],.buscador div input[type=date],.buscador div select{
    background-color:rgba(255, 255, 255, 0.0) !important;
    color: black;
}
.buscador div input[type=text]{
    width: 45%;
}
.buscador div input[type=date]{
    width: 70%;
}

.buscador select, option{
    border: none !important;
    background-color:rgba(255, 255, 255, 0.0) !important;
    font-weight: bolder;
    border-bottom: 2px solid #0d1044 !important;
    width: 100%;
}


.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}



 .resultadoBusqueda td,.resultadoBusqueda th{
     color:white;
 }
 
 .btn-busqueda{
     border-radius: 10%;
     border:solid 1px black;
     background-color:#0d1044 !important;
     color: white;
     width: 100%;
     box-shadow: 2px 2px 5px black;
 }



 .resultadoBusqueda{
    background-color:rgba(0, 0, 0, 0.6) !important;

 }

 .text-search{
    display: flex;
    text-align: center;
    font-size: x-large; 
 }

 .text-search, .menu p{
    font-family: 'Aero' ;
 }.name-logo a:hover{
    text-decoration: none;
    text-shadow: none !important;
 }
 .modal-body div h3,.modal-body div p{
    font-family: 'Aero';
}

.popUp-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:black;
}

.popUp-content a{
    text-decoration: underline;
    font-family: 'Exo', sans-serif;
    

}

.popUp-content a:hover{
    text-shadow: 2px 2px 2px #0d1044;
}

/*ESTE ES EL BOTON FLOTANTE QUE VA AL INICIO, VER SI NO QUEDA MEJOR UN ÍCONO */
/********************************************************/
.btn-flotante {
    font-size: 16px; 
    text-transform: uppercase; 
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px; 
    letter-spacing: 2px;
    background-color: #0d1044; 
    padding: 10px 20px;
    position: fixed;
    bottom: 1rem;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border:2px solid #ffffff;
    }
    .btn-flotante:hover {
    background-color: #ffffff; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
    color:#0d1044;
    border:2px solid #0d1044;
    }
    @media only screen and (max-width: 600px) {
    .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 0.5rem;
    right: 20px;
    }
    }
    /***************************************************/

 @media (max-width: 768px){
    /* For mobile phones: */
     .nav, .buscador, .resultadoBusqueda, .footer{
      width: 100%;
    }

   
    

    .text-search{
        display: none !important;
    }
   
    body{
        justify-content: center !important;
        background-size: cover !important;
    }

    .fechas{
        flex-direction: column;
        text-align: left;
    }

    .fechas input{
        width: 100% !important;
    }

    .radio{
        justify-content:center !important;
    }

    .form-search{
        width: 90%;
    }

    .nav p{
        display: none;
    }

    .collapse,.collapsing,.show{
        width:50% !important;
    }

}