{{> header}}
{{> navbar}}
<div class='content {{displaySearch}}'>
    
    <div class="buscador row justify-content-around">
        <div class="text-search col-3">
            <p>ENCONTRÁ TU PRÓXIMO VIAJE</p>
        </div>

            <form action='/inicio/execute' method="post" class="col-7 form-search" name='buscar' id='busqueda' enctype="multipart/form-data">
                <div class="destino">
                    <input type='text' placeholder='Origen' id='origen' name='origen' required>
                    <input type='text' placeholder='Destino' id='destino' name='destino' required>
                </div>
                <!--ESTE SELECT LO VAMOS A TENER QUE TRAER DESDE LA BASE-->
                    <div class="select">
                        <select name="tipoVuelo">
                            <option value="OR" selected>Orbital</option>
                            <option value="BA">Entre Destinos (BA)</option>
                            <option value="AA">Entre Destinos (AA)</option>
                        </select>
                    </div>
                    <!-------------------------------------------------->
                <div class="radio">
                    <div>
                        <input type="radio" id="ida" name="ida" value="0" checked>
                        <label for="idaRadio">IDA</label>
                    </div>
                    <div>
                        <br>
                        <input type="radio" id="idaVuelta" name="ida" value="1">
                        <label for="idaVueltaRadio">IDA y VUELTA</label><br>
                    </div>
                    
                    
                </div>
                <div class="fechas">
                    <div>
                        <label for="fechaIda">IDA</label>
                        <input type="date" id="fechaIda" name="fechaIda" required>
                    </div>
                     <div>
                         <label for="fechaVuelta">VUELTA</label>
                        <input type="date" id="fechaVuelta" name="fechaVuelta" >
                    </div>
                </div>
                <div class="justify-content-center">
                    <input class= 'btn-busqueda' type='submit' value='Buscar' id="botonBuscar" name="botonBuscar">
                </div>
                
            </form>
    </div>
    
        {{#noData}}
        <div style="background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0));color:black; text-align:center;">
            <p >No se encontraron vuelos para la búsqueda solicitada</p>
        </div>
        {{/noData}}
    
    <div class="resultadoBusqueda ">
        <table class='table table-responsive'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Hora Partida</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Duración</th>
                    <th>Tipo Vuelo</th>
                </tr>
            </thead>
        {{#resultado}}
            <tr>
                <td>{{id_vuelo}}</td>
                <td>{{fecha}}</td>  
                <td>{{h_partida}}</td>                              
                <td>{{origen}}</td>
                <td>{{destino}}</td>
                <td>{{duracion}}</td>
                <td>{{tipoVuelo}}</td>
            </tr>
        {{/resultado}}

        </table>
    </div>
                    
          </div>
{{> footer}}
