{{> header}}
{{> navbar}}
<div class='content'>
                    <table class='table table-responsive'>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Destino</th>
                                <th>Origen</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
            {{#resultado}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{destino}}</td>
                    <td>{{origen}}</td>
                    <td>{{fecha}}</td>
                </tr>
            {{/resultado}}

        </table>
          </div>
{{> footer}}
