{{> header}}
{{> navbar}}
<div class='content {{displaySearch}}'>
    
    <div class="buscador row justify-content-around">
        <div class="text-search col-3">
            <p>ENCONTRÁ TU PRÓXIMO VIAJE</p>
        </div>
        <a href="/pdf/generarPdf"><button class='btn-primary btn-busqueda'>BOTON PRUEBA DESCARGA PDF</button></a></td>
        
            <form action='/inicio/execute' method="post" class="col-7 form-search" name='buscar' id='busqueda' enctype="multipart/form-data">
                <div class="destino">
                    <input type='text' placeholder='Origen' id='origen' name='origen' required>
                    <input type='text' placeholder='Destino' id='destino' name='destino' required>
                </div>
                <!--ESTE SELECT LO VAMOS A TENER QUE TRAER DESDE LA BASE-->
                    <div class="select">
                        <select name="tipoVuelo" id="tipoVuelo" >
                            <option hidden disable>Tipo Vuelo</option>
                        {{#tiposVuelo}}
                            
                            <option value={{id_tipoVuelo}} >{{Descripcion}}</option>
                        {{/tiposVuelo}}
                        </select>
                    </div>
                <div class="fechas">
                    <div>
                        <label for="fechaIda">Fecha</label>
                        <input type="date" id="fechaIda" name="fechaIda" required>
                    </div>
                    <div class="select">
                        <select name="tipoEquipo" id = "tipoEquipo" >
                            <option hidden disable>Tipo Equipo</option>
                        {{#tiposEquipo}}
                        <!--ACA HABRIA QUE VALIDAR QUE SOLO TRAIGA AA Y BA-->
                            <option value={{id_tipoEquipo}} >{{Nombre}}</option>
                        {{/tiposEquipo}}
                        </select>
                    </div>

                </div>
                <div class="justify-content-center">
                    <input class= 'btn-busqueda' type='submit' value='Buscar' id="botonBuscar" name="botonBuscar">
                </div>
                
            </form>
    </div>
    
        {{#noData}}
        <div style="background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0));color:black; text-align:center;">
            <p >No se encontraron vuelos para la búsqueda solicitada</p>
        </div>
        {{/noData}}
    
    <div class="resultadoBusqueda ">
        <table class='table table-responsive'>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Tipo Equipo</th>
                    <th>Tipo Vuelo</th>
                    <th>Reservar</th>
                </tr>
            </thead>
        {{#resultado}}
            <tr>
                <td>{{fecha}}</td>                               
                <td>{{destinoOrigen}}</td>
                <td>{{destinoDestino}}</td>
                <td>{{tipoEquipo}}</td>
                <td>{{tVuelo}}</td>
                <td><a href="/reservaVuelo/reserva?id={{id_vuelo}}"><button class='btn-primary btn-busqueda'>Reservar</button></a></td> <!--Len:Te lleva con el
                    ID del vuelo a link donde esta la view de reservas (con su controller),
                    alli se debe buscar ese vuelo por id para poder mostrar datos y ver detalles del vuelo para confirmar reserva
                    el valor se envia por GET-->
            </tr>
        {{/resultado}}

        </table>
    </div>
                    
          </div>
{{> footer}}
