{{> header}}
{{> navbar}}
{{#recovery}}
    <div class='content container cont-recovery justify-content-center'>
        <h2 class="p-4 titulo">Ingresá tu nueva clave</h2>
       
        <form action='/logIn/saveRecovery' method='POST' enctype='multipart/form-data' class='row recovery-form '>
            <label for='usuario'>Email</label>
            <input type='text' name='usuario' value = {{email}}>
            <label for='password'>Nueva clave</label>
            <input type='password' name='password'>
            <input type='submit' class='btn-primary btn-registro' value='Ingresar'>
        </form>
        
    </div>
{{/recovery}}
<div class="content container cont-login justify-content-center contenido {{display}}"  >
    <h2 class="p-4 titulo">Ingresá a tu cuenta</h2>

    <form action="/logIn/validarSesion" method="POST" enctype="multipart/form-data" class="row login-form ">
        
        <label for="usuario">Email</label>
        <input type="text" name="usuario" required>
        <label for="password">Clave</label>
        <input type="password" name="password" required>
        <input type="submit" class="btn-primary btn-registro" value="Ingresar">
        <p>Aun no sos parte de GauchoRocket?</p>
        <a href="/registro" class="log-registro">Crear una cuenta</a>
    </form>
    
</div>
{{> footer}}
