{{> header}}
{{> navbar}}
<center>
    <div class="buscador row justify-content-around">
        <div class="text-search col-3">
            <p>MIS RESERVAS</p>
        </div>
    </div>
</center>
<div class="resultadoBusqueda ">
    <center>
        <h3>Pendientes de pago</h3>
    </center>
    <table class='table table-responsive'>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Importe Total</th>
                <th>Botones</th>
            </tr>
        </thead>
        {{#pendientesDePago}}
        <tr>
            <td>{{fechaReserva}}</td>
            <td>{{horaReserva}}</td>
            <td>{{origenReserva}}</td>
            <td>{{destinoReserva}}</td>
            <td>{{monedaReserva}}{{TotReservaMoneda}}</td>
            <td><a href="misReservas/eliminar"><button class='btn-primary btn-busqueda'>ELIMINAR
                    </button></a>
                <a href="misReservas/eliminar"><button class='btn-primary btn-busqueda'>PAGAR
                    </button></a>
            </td>
        </tr>
        {{/pendientesDePago}}

    </table>
</div>
<div class="resultadoBusqueda ">
    <center>
        <h3>Pendientes de Check In</h3>
    </center>
    <table class='table table-responsive'>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Importe Total</th>
                <th>Botones</th>
            </tr>
        </thead>
        {{#pendientesDeCheckIn}}
        <tr>
            <td>{{fechaReserva}}</td>
            <td>{{horaReserva}}</td>
            <td>{{origenReserva}}</td>
            <td>{{destinoReserva}}</td>
            <td>{{monedaReserva}}{{TotReservaMoneda}}</td>
            <td><a href="misReservas/checkInOn"><button class='btn-primary btn-busqueda'>HACER CKECK IN
                    </button></a></td>
        </tr>
        {{/pendientesDeCheckIn}}

    </table>
</div>
<div class="resultadoBusqueda ">
    <center>
        <h3>Reservas Confirmadas</h3>
    </center>
    <table class='table table-responsive'>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Importe Total</th>
            </tr>
        </thead>
        {{#misReservasCheckeadas}}
        <tr>
            <td>{{fechaReserva}}</td>
            <td>{{horaReserva}}</td>
            <td>{{origen}}</td>
            <td>{{destino}}</td>
            <td>{{monedaReserva}}{{TotReservaMoneda}}</td>
            <td><a href="generarPDF"><button class='btn-primary btn-busqueda'>DESCARGAR PASAJE DE ABORDAJE
                        PDF</button></a></td>
        </tr>
        {{/misReservasCheckeadas}}

    </table>
</div>

{{> footer}}