{{> header}}
{{> navbar}}
<center>
    <div class="buscador row justify-content-around">
        <div class="text-search col-3">
            <p>MIS RESERVAS</p>
        </div>
    </div>
</center>
<form action='/misReservas/mostrarReservas' method="post" class="col-12 form-search" name='buscar' id='busqueda'
    enctype="multipart/form-data">

    <div class="resultadoBusqueda ">
        <center>
            <h3>Pendientes de pago</h3>
        </center>
        <table class='table table-responsive'>
            <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>Botones</th>
                </tr>
            </thead>
            {{#pendientesDePago}}
            <tr>
                <td>{{id}}</td>
                <td>{{tipoAsiento}}</td>
                <td>{{tramos}}</td>
                <td><a href="/generarPdf"><button class='btn-busqueda'>BOTON PRUEBA DESCARGA
                            PDF</button></a> <a href="/eliminar"><button class='btn-primary btn-busqueda'>ELIMINAR
                        </button></a></td>
                <!-- Len:Te lleva con el
                ID del vuelo a link donde esta la view de reservas (con su controller),
                alli se debe buscar ese vuelo por id para poder mostrar datos y ver detalles del vuelo para confirmar
                reserva
                el valor se envia por GET -->
            </tr>
            {{/pendientesDePago}}

        </table>
    </div>
    <div class="resultadoBusqueda ">
        <center>
            <h3>Pendientes de Check In</h3>
        </center>
        <table class='table table-responsive'>
            <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>Botones</th>
                </tr>
            </thead>
            {{#pendientesDeCheckIn}}
            <tr>
                <td>{{id}}</td>
                <td>{{tipoAsiento}}</td>
                <td>{{tramos}}</td>
                <td><a href="/generarPdf"><button class='btn-primary btn-busqueda'>BOTON PRUEBA DESCARGA
                            PDF</button></a> <a href="/eliminar"><button class='btn-primary btn-busqueda'>ELIMINAR
                        </button></a></td>
            </tr>
            {{/pendientesDeCheckIn}}

        </table>
    </div>
    <div class="resultadoBusqueda ">
        <center>
            <h3>Reservas Confirmadas</h3>
        </center>
        <table class='table table-responsive'>
            <thead>
                <tr>
                    <th>Código de Reserva</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Botones</th>
                </tr>
            </thead>
            {{#misReservasCheckeadas}}
            <tr>
                <td>{{id}}</td>
                <td>{{tipoAsiento}}</td>
                <td>{{tramos}}</td>
                <td><a href="/generarPdf"><button class='btn-primary btn-busqueda'>BOTON PRUEBA DESCARGA
                            PDF</button></a> <a href="/eliminar"><button class='btn-primary btn-busqueda'>ELIMINAR
                        </button></a></td>
                <!-- Len:Te lleva con el
                ID del vuelo a link donde esta la view de reservas (con su controller),
                alli se debe buscar ese vuelo por id para poder mostrar datos y ver detalles del vuelo para confirmar
                reserva
                el valor se envia por GET -->
            </tr>
            {{/misReservasCheckeadas}}

        </table>
    </div>
</form>

{{> footer}}