<nav class='navbar navbar-dark bg-dark nav row align-items-center justify-content-around m-0'>
    <div class='col-6'>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarToggleExternalContent' aria-controls='navbarToggleExternalContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
    </div>
    
    <div class='col-6 menu'> 
    <div class='row justify-content-end align-items-center'>
     <p class='col-4 name-logo'><a href='/inicio' class='logo col-2 p-0'>Gaucho Rocket</a></p><a href='/inicio' class='logo col-2 p-0'><img src='http://localhost/public/img/logo.png' ></a>
    </div>
      
    </div>
</nav>
<div class='collapse' id='navbarToggleExternalContent'  >
  <div class='bg-dark p-4 row dropdwn' >{{{menu}}}</div>
</div>