{{> header}}
{{> navbar}}

    {{#reservaData}}
    <div class="resumeReserva">
        <h2>Resumen de compra</h2>
			<div class="pagoCreditos">
				<p>Abonará un total de <img src="http://localhost/public/img/cash.png" class="img-fluid"> </p><p id="cobroCredito">{{TotalReserva}}</p>
			</div>
			<p>por {{cantidadAsientos}} pasajes de tipo {{tCabina}} + servicio {{tServicio}}</p>	
    </div>
        

    {{/reservaData}}

    <div class="contenedorPago">

		<!-- Tarjeta -->
		<section class="tarjeta" id="tarjeta">
			<div class="delantera">
				<div class="logo-marca" id="logo-marca">
					<!--     <img src="http://localhost/public/img/logos/visa.png" alt=""> -->
				</div>
				<img src="http://localhost/public/img/chip-tarjeta.png" class="chip" alt="">
				<div class="datos">
					<div class="grupo" id="numero">
						<p class="label">Número Tarjeta</p>
						<p class="numero">#### #### #### ####</p>
					</div>
					<div class="flexbox">
						<div class="grupo" id="nombre">
							<p class="label">Nombre Tarjeta</p>
							<p class="nombre">Jhon Doe</p>
						</div>

						<div class="grupo" id="expiracion">
							<p class="label">Expiracion</p>
							<p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="trasera">
				<div class="barra-magnetica"></div>
				<div class="datos">
					<div class="grupo" id="firma">
						<p class="label">Firma</p>
						<div class="firma"><p></p></div>
					</div>
					<div class="grupo" id="ccv">
						<p class="label">CCV</p>
						<p class="ccv"></p>
					</div>
				</div>
				<a href="#" class="link-banco">www.tubanco.com</a>
			</div>
		</section>

		<!-- Contenedor Boton Abrir Formulario -->
		<div class="contenedor-btn">
			<button class="btn-abrir-formulario" id="btn-abrir-formulario">
				<i>▼</i>
			</button>
		</div>

		<!-- Formulario -->
		{{#reservaData}}
		<form action="/reservaVuelo/validarPago" method="POST" enctype="multipart/form-data" id="formulario-tarjeta" class="formulario-tarjeta">
			<input type="number" disable style="display:none;" value="{{id}}" name="id">
			<div class="grupo">
				<img src="http://localhost/public/img/cash.png" class="img-fluid"> <input style="width: 30%;" type="number" id="cobroCredito"  name="cobroCredito" value="{{TotalReserva}}" disabled>
				{{/reservaData}}
				<select name="moneda" id="selectMoneda" style="width: 30%;">
					<option disabled selected >Moneda de Pago</option>
					<option>ARP</option>
					<option>USD</option>
				</select>
				<input type="number" name="totalConvert" id="totalConvert"  style="width: 30%;" disabled required>
			</div>
			<div class="grupo">
				<label for="inputNumero">Número Tarjeta</label>
				<input type="text" id="inputNumero" name="inputNumero" maxlength="19" required>
			</div>
			<div class="grupo">
				<label for="inputNombre">Nombre</label>
				<input type="text" id="inputNombre" name="inputNombre" maxlength="19" required>
			</div>
			<div class="flexbox">
				<div class="grupo expira">
					<label for="selectMes">Expiracion</label>
					<div class="flexbox">
						<div class="grupo-select">
							<select name="mes" id="selectMes" required>
								<option disabled selected>Mes</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
						<div class="grupo-select">
							<select name="year" id="selectYear" required>
								<option disabled selected>Año</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
				</div>

				<div class="grupo ccv">
					<label for="inputCCV">CCV</label>
					<input type="text" id="inputCCV" name="inputCCV" maxlength="3" required>
				</div>
			</div>
			<button type="submit" class="btn-enviar">Enviar</button>
		</form>
	</div>

{{> footer}}