{{> header}}
{{> navbar}}
<div class="resultadoBusqueda ">
    <center>
        <h3>Histórico de reservas</h3>
    </center>
    <table class='table table-responsive'>
        <tr>
            <th>Id de vuelo</th>
            <th>Fecha</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Cantidad de asientos</th>
            <th>Precio total</th>
            <th>Nombre del pasajero</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        {{#Reservas}}
        <tr>
            <td>{{id_vuelo}}</td>
            <td>{{fecha}}</td>
            <td>{{origen}}</td>
            <td>{{destino}}</td>
            <td>{{cantidadAsientos}}</td>
            <td>{{TotalReserva}}</td>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{email}}</td>
        </tr>
        {{/Reservas}}
    </table>
</div>
<div class="resultadoBusqueda ">
    <center>
        <h3>Ocupación por viaje</h3>
    </center>
    <table class='table table-responsive'>
        <tr>
            <th>Id de vuelo</th>
            <th>Cantidad de pasajeros</th>
        </tr>
        {{#Cantidad}}
        <tr>
            <td><a href="/reporte/vuelosGenerar?id={{id}}"><button class='btn-primary btn-busqueda'>{{id}}</button></a></td>
            <td>{{cantidad}}</td>
        </tr>
        {{/Cantidad}}
    </table>
</div>
<div class="resultadoBusqueda ">
    <center>
        <h3>Facturación por usuario</h3>
    </center>
    <table class='table table-responsive'>
        <tr>
            <th>Facturacion total</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        {{#Clientes}}
        <tr>
            <td>{{suma}}</td>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{email}}</td>
        </tr>
        {{/Clientes}}
    </table>
</div>
{{> footer}}