{{> header}}
{{> navbar}}

<div class="contenido-reserva bg-white" style="color:black">
        <div class="usuario">
        {{#usuario}}
        <p>DATOS DEL CLIENTE</p>
        <div>
            <p>Nombre: </p>
            <p>{{nombre}}</p>
        </div>
        <div>
            <p>apellido: </p>
            <p>{{apellido}}</p>
        </div>
        <div>
            <p>Dni: </p>
            <p>{{dni}}</p>
        </div>
        <div>
            <p>Mail: </p>
            <p>{{email}}</p>
        </div>        
        {{/usuario}}
    </div>
    <div class="vuelo">
        {{#vuelo}}
        <p>DATOS DEL VUELO</p>
        <div>
            <p>Nr. Vuelo: </p>
            <p>{{id_vuelo}}</p>
        </div>
        <div>
            <p>Origen: </p>
            <p>{{destinoOrigen}}</p>
        </div>
        <div>
            <p>Destino</p>
            <p>{{destinoDestino}}</p>
        </div>
        <div>
            <p>Fecha: </p>
            <p>{{fecha}}</p>
        </div>
        <div>
            <p>Hora de Partida: </p>
            <p>{{h_partida}}</p>
        </div>
        <div>
            <p>Tipo de Equipo: </p>
            <p>{{tipoEquipo}}</p>
        </div>
        <div>
            <p>Tipo de Vuelo: </p>
            <p>{{tVuelo}}</p>
        </div>
        {{/vuelo}}
</div>
{{#tramos}}
<div>
    <div class="recorrido">
        <div>
            <p>El recorrido de este vuelo es el siguiente:</p>
        </div>
        <div class="recorridos">
            {{#datos_destinos}}
                <p>{{nombreDestino}}--></p>
            {{/datos_destinos}}
            <p>Regreso</p>
        </div>
        
    </div>
    <form action="reservaVuelo/VerificarReserva" method="post"></form>
    <div >
        
            <p>Voy a tomar este vuelo en: </p>
            <select name="origen">
            {{#datos_destinos}}
                <option value={{idDestino}} >{{nombreDestino}}</option>
            {{/datos_destinos}}
            </select>
    
        
    </div>
    <div >
        
            <p>Voy a descender de este vuelo en: </p>
            <select name="destino">
            {{#datos_destinos}}
                <option value={{idDestino}} >{{nombreDestino}}</option>
            {{/datos_destinos}}
            </select>
    
        
    </div>
</div>
{{/tramos}}
<div>
    <div>
        <p>Quiero aplicar el siguiente servicio: </p>
        <select >
            {{#servicios}}
                <option value={{id_servicio}} id="servicio">{{descripcion_servicio}}</option>
            {{/servicios}}
        </select>
    </div>
    <div>
        <label for="servicio">Cantidad de asientos requeridos: </label>
        <input type="number" min = 1 value=1></input>
    </div>
    <div>
        <p>Quiero seleccionar el siguiente tipo de cabina: </p>
        <select >
                <label for="cabina">Servicios</label>
                <option value="T" id="cabina">Turista</option>
                <option value="E" id="cabina">Ejecutivo</option>
                <option value="P" id="cabina">Primera</option>
        </select>
    </div>
   
</div>
<div class="ocultos-reserva">
    
</div>
<div>
    <input type="submit" value="Confirmar y reservar" class='btn-primary btn-busqueda'>
</div>
</form>

</div>
    {{> footer}}