{{> header}}
{{> navbar}}
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col m-5">
                <div class="card card-registration my-4">
                    <div class="row g-0">

                        <div class="col-xl-6 d-none d-xl-block"
                             style="background-image: url(https://th.bing.com/th/id/OIP.BhOa_QvmwqEdt4J93ZPumgHaNK?pid=ImgDet&rs=1);
                            background-size: cover;"><!--Poner esto en un CSS-->

                            <!-- <img src="https://th.bing.com/th/id/OIP.BhOa_QvmwqEdt4J93ZPumgHaNK?pid=ImgDet&rs=1"
                                  alt="Sample photo" class="img-fluid"
                                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" /> -->
                        </div>
                        <form action="/reservaVuelo/concretarReserva" method="POST" id="formulario" enctype="multipart/form-data" class="col-xl-6 form-floating">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-center">Reservá tu vuelo a una GRAN aventura!</h3>
                                {{#usuario}}
                                <div class="row">
                                    <div class="">
                                        <div class="form-outline">                                                 <!--En los value tiene q estar los datos q traemos-->
                                            <input type="hidden" id="idUser" class="form-control form-control-lg" value='{{id}}' readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">                                                 <!--En los value tiene q estar los datos q traemos-->
                                            <input type="text" id="nombre" class="form-control form-control-lg" value='{{nombre}}' readonly />
                                            <label class="form-label" for="">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">                                                  <!--En los value tiene q estar los datos q traemos-->
                                            <input type="text" id="apellido" class="form-control form-control-lg"  value='{{apellido}}' readonly/>
                                            <label class="form-label" for="">Apellido</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">                                              <!--En los value tiene q estar los datos q traemos-->
                                            <input type="text" id="dni" class="form-control form-control-lg"  value='{{dni}}' readonly/>
                                            <label class="form-label" for="">DNI</label>
                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="form-outline mb-4">                                         <!--En los value tiene q estar los datos q traemos-->
                                    <input type="text" id="user" class="form-control form-control-lg"  value='{{email}}' readonly/>
                                    <label class="form-label" for="">Email</label>
                                </div>
                                {{/usuario}}
                                

                                

                                
                                

                                <!--No se si cuando esta todo lo de arriba verificado q aparezca el boton o algo asi-->
                                <div class="d-flex justify-content-end pt-3">
                                    <button type="submit" class="btn btn-warning btn-lg ms-2">Reservar</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}


