{{> header}}
{{> navbar}}

<div class="content container justify-content-center contenido"  >
    <h2 class="p-4 titulo">Elegí un día y horario para tu checkeo</h2>
  
    <form id="turnoForm" name="turnoForm" action="/logIn/validarTurnoMedico" method="POST" enctype="multipart/form-data" class="row" onsubmit="return validarFormTurno();" >
        
        <label for="dia">Fecha</label>
        <input type="datetime" name="dia" id="fechaTurno" required onlyread>
        <label for="hora">Horario</label>
        <input type="time" name="hora" required>
        <button type="submit" class="btn-primary" >Solicitar Turno</button>
    </form>
    
</div>
{{> footer}}
